
<div class="jumbotron">
  <% r = random_send %>
  <p><b><%= @words[r]['english'] %></b></p>
  <p>単語の意味を答えてください</p>
  <%= form_tag('/words/comparison', method: :get) do %>

    <input type="hidden" name="random" value=<%= r+1 %>>

    <input name="answer" id="answer_column"><br>

    <!-- 入力欄にフォーカスを与える -->
    <script type="text/javascript">
    document.getElementById('answer_column').focus();
    </script>

    <br>
    <input type="submit" value="  答える  ">
  <% end %>

</div>
<!-- <p id="time"></p>
<script>
time();
function time(){
    var now = new Date();
    document.getElementById("time").innerHTML = now.toLocaleTimeString();
}
setInterval('time()',1000);
</script> -->


<% 10.downto(0) do |i| %>
  <%= "#{i}" %>
<% end %>
